* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background: #24c966;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    flex-grow: 1;
    margin-right: 20px;
}

.navbar a {
    display: block;
    padding: 15px 20px; 
    color: black; 
    text-transform: uppercase;
    font-size: 18px; 
    transition: color 0.3s ease, background-color 0.3s ease; 
    position: relative; 
    text-decoration: none;
}

.navbar a:hover {
    background: #07E109;
}

.Login a {
    text-decoration: none;
    color: #43957a;
    text-transform: uppercase;
    font-size: 20px;
}

.content-header, .content-services, .content-about, .content-contact {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px; 

}

.content-general {
        background: linear-gradient(to bottom, #24c966, #2d8344);
}


.title-efnsanar {
    display: block;
    padding: 15px 20px; 
    color: black;
    text-transform: uppercase;
    font-size: 25px; 
    font-weight: bold;
}

.title-header{
    margin-bottom: 40px;
    font-size: 80px;
    font-weight: 600;
    text-transform: uppercase;
}

p {
    margin-bottom: 40px;
    font-size: 18px;
}

.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 20px; 
}

.box {
    max-width: 17rem; 
    background: #70AB6F;
    border-radius: 1rem;
    box-shadow: 0 .3rem 1rem rgba(0, 0, 0, 0.2);
    padding: 20px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
}

.box h3 {
    font-size: 30px;
    margin-bottom: 10px; 
    color: black; 
}

.box p {
    font-size: 15px;
    color: black; 
    line-height: 1.5; 
    margin: 0; 
}



.logo {
    width: 100px;
    height: 70px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain; 
    object-position: center; 
}



/* Resoulucion para pantalla 768*/
@media (max-width: 768px) {
    .head {
        flex-direction: column;
        height: auto;
    }

    .navbar {
        flex-direction: column;
        align-items: center;
    }

    .navbar a {
        padding: 10px 20px;
        font-size: 18px;
    }

    .title-enfsanar {
        font-size: 40px;
    }

    .box-container {
        flex-direction: column;
    }

    .box-container .box {
        width: 90%;
        margin: 1rem 0;
    }
}

