/*fondo*/
body {
    background: linear-gradient(to bottom, #24c966, #2d8344);
    background-size: 100% 100vh;
    height: 100vh;
    margin: 0;
    
}
/* diseño del menu formulario */
.formulario {
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 100vh; 
    padding-top: center;
    
}

/*titulo*/
.titulo_log {
    background-color: white;
    width: 400px;
    padding-top: 12px;
    padding-bottom: 10px;
    font-size: 20px;
    color: black;
    text-align: center;
    font-weight: bold;
    border-radius: 15px;
    box-shadow: 15px 15px 15px 15px rgba(0,0,0,0.2);
}

/*titulo 2*/
.titulo_titulo_log {
    background-color:red;
}

/*logo*/
.imageLogo {
    max-width: 300px;
    width: 100%;
    height: auto;
    content: center;
}

/*formulario y su diseño*/
.formulario_log {
    background-color: white;
    width: 400px;
    padding: 30px;
    border-radius: 15px;
    margin: 50px;
    box-shadow: 15px 15px 15px 15px rgba(0,0,0,0.2); 
}


/*diseño general*/
.textos_log {
    display: inline-block;
    color: black;
    width: 100px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*diseño general*/
.inputs_log {
    border-bottom: 1px solid black;
    border-top: 0.1px solid white;
    border-left: 0.1px solid white;;
    border-right: 0.1px solid white;
    padding: 5px;
    font-size: 16px;
    width: 100%;
    background-color: transparent; 
    color: black; 
}


/*diseño btn Ingresar*/
.btn_log {
    background-color: #4CAF50;
    color: white;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 6px 15px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

/*diseño btn Cancelar*/
.btn_cancelar {
    background-color: #f44336;
    color: white;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 6px 15px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}
/*fin del formulario y su diseño*/


