* {
    font-family:  'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #24c966, #2d8344);
}

ul {
    list-style: none;
}

/*estructura de la pagina*/
.container {
    margin: 0 auto;
    width: 80%;
}

.image-wrapper {
    padding-top: 150px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-wrapper img {
    max-width: 50%;
    max-height: 50%;
    width: auto;
    height: auto;
}

.logo {
    max-width: 450px;
    max-height: 450px;
    width: 70px;
    height: 70px;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.box-menu {
    background: linear-gradient(to right, #24c966, #D9D9D9);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
}

.box-menu ul {
    display: flex;
    justify-items: end;
    align-items: center;
}

.menu-principal a {
    text-decoration: none;
    font-size: 22px;
    display: inline-block;
    margin: 5px;
    padding: 8px 10px;
    background-color: rgb(0, 130, 78);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.menu-principal a:hover {
    background-color: rgb(0, 160, 90);
    transform: translateY(-3px);
}


.container-form {
    background: linear-gradient(to right, #d9d9d9, #24c966);
    margin: 0 auto;
    width: 50%;
    padding: 30px;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
}

h2 {
    margin-top: 0;
}

form {
    padding: 10px;
    border: 1px solid #71937f;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.714);
    font-size: 17px;
}

fieldset {
    margin-bottom: 20px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #f0eeee;
}

legend {
    font-weight: bold;
    width: 60%;
    background-color: rgb(0, 130, 78);
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}

label {
    display: block;
    margin-bottom: 2px;
}

input, select {
    border-bottom: 2px solid #ccc;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 4px;
    padding: 8px;
    margin: 10px;
    font-size: 15px;
    width: 90%;
    background-color: white;
    color: #333;
    transition: border-color 0.3s, background-color 0.3s;
}

input:focus, select:focus {
    border-color: #2d8344;
    outline: none; 
}

label+input,
label+textarea {
    margin-top: 5px;
}

.buttom-end {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right, #24c966, #D9D9D9);
    padding: 5px;
    border: 1px solid #ccc;
    margin: 0 auto 20px auto;
    width: 40%;
}

.buttom-end li {
    display: inline-block;
    margin: 15px 15px;
}

.buttom-end input, .buttom-end a {
    background-color: rgb(0, 130, 78);
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 22px;
    cursor: pointer;
    border: none;
    padding: 10px 10px;
    margin: 13px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.buttom-end input:hover,.buttom-end a:hover {
    background-color: rgb(0, 160, 90);
    transform: translateY(-3px);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: rgb(0, 130, 78);
    color: white;
}

tr:hover {
    background-color: #33da57;
}
